body { 
    width: 750px; 
    margin: auto; 
    position: center; 
    font-family: 'Lucida Sans', Verdana, sans-serif; 
    font-size: 10.5pt; 
    color: #434343;
    line-height: 135%; !important
}

.xml { padding: 1em; border: silver 1px solid; background: #EAFABC; }
.relaxngcompact { padding: 1em; border: silver 1px solid; background: #F6F9ED; }

.clothesline {
  position: relative;
}

.double-border {
  border: 5px double black;
}

h4 a {
  padding: 4px;
  border: 1px solid black;
}

/* .js { padding: 1em; border: silver 1px solid; background: #FFF68F; } */
.js { padding: 1em; border: silver 1px solid; background: #EAFABC; }
.text { padding: 1em; border: silver 1px solid; background: #FFcccc; }

dl { background: #B7FCE1; padding:1em; border: silver 1px solid;}
dt { font-weight: bold; margin-top: 0.5em; }

.info-version { text-align: center; font-size: 130%; font-weight: bold; }
.info-date { text-align: center; font-size: 110%; font-weight: bold; }
.title { text-align: center; margin: 4em 4em 1em 4em; }
.subtitle { text-align: center; margin: 1em 4em 4em 4em; }
.topic-title { font-weight: bold; font-size: 130%; }
.contents { margin-bottom: 1em; }

.contributors { margin-left: 250px; margin-top: 2em; margin-bottom: 2em; }
dl.contributors { background: white; border: none; }
.contributors dt { margin: 1em; }

span.sc {
  font-variant: small-caps;
  color: black;
}

tt.literal .pre {
  font-family: monospace;
  color: #232323;
  background: #d9d9d9;
  padding: 0px 2px 0px 2px;
}

a { 
    border-bottom: dotted 1px #999; 
    text-decoration: none;
}

blockquote {
    background: #B7FCE1; 
    margin-left: 3em;
    padding:1em; 
    border: silver 1px solid;
}

blockquote.inline-wrapper {
    background: white;
    margin: 0px;
    padding: 0px;
    border: 1px none black;
    text-align: center;
}

blockquote.inline-wrapper div {
    display: inline;
}

blockquote.inline-wrapper p {
    vertical-align: top;
    display: inline;
}

.superscript {
  margin-bottom: 1em;
}

a.toc-backref tt.literal .pre {
    background: white;
}


a:link { color: #636363; font-weight: bold;}
a:visited { color: #636363; font-weight: bold; }
a:active { color: #636363; font-weight: bold; }
a:hover { color: #a30826; font-weight: bold; }

a tt.literal .pre:link { color: #131313; }
a tt.literal .pre:visited { color: #131313; }
a tt.literal .pre:active { color: #131313; }
a tt.literal .pre:hover { color: #a30826; }

.contents a:link { color: #434343; font-weight: normal; }
.contents a:visited { color: #434343; font-weight: normal; }
.contents a:active { color: #434343; font-weight: normal; }
.contents a:hover { color: #a30826; }

a.toc-backref:link { color: black; } 
a.toc-backref:visited { color: black; } 
a.toc-backref:active { color: black; } 
a.toc-backref:hover { color: #a30826; }

blockquote.clothesline {
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 0px none;
}

div.admonition {
  clear: both;
  border: 3px solid #c0c0c0;
  float: right;
  width: 37%;
  padding: 0px 5px 0px 5px;
  background: white;
  margin: -0.5em -0.5em 1em 5px;
}

blockquote.clothesline div.admonition {
  float: none;
  position: absolute;
  top: 0em;
  right: 0em;
}

div.admonition p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.admonition-important .admonition-title:before {
  content: url("important.png");
  padding-right: 5px;
}

div.admonition-hint .admonition-title:before {
  content: url("ktip.png");
  padding-right: 5px;
}

div.admonition p.admonition-title {
  font-weight: bold;
  font-size: 150%;
  border-bottom: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

table.footnote {
  background: #ffffdd;
  padding: 5px 0px 5px 0px;
  border: 1px solid #cccccc;
  margin: 0.3em 0px 0.3em 0px;
}

table.first {
  margin: 2.3em 0px 0.3em 0px;
}

table.hello { margin-left: 3em; }
table.hello td { padding: 3px; }
table.hello th { padding: 3px; background: #dddddd; }

table.footnote td.label {
  white-space: nowrap;
  padding-right: 0.3em;
}

a.fn-backref:before {
  content: url("2uparrow.png");
  padding-right: 2px;
}

a.footnote-reference {
  background: #ffffdd;
  padding: 5px 2px 0px 2px;
  white-space: nowrap;
}

a.footnote-reference:before {
  content: url("2downarrow.png");
  padding-right: 2px;
}

a.fn-backref {
  vertical-align: top;
}

/* .nx { color: red; font-weight: bold } */ /* Function name */

.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */

.k { color: #007020; font-weight: bold } /* Keyword  [DONE] */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

table.codeblock, tr.codeblock, td.linenos, td.codeblock, table.codeblock pre { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	vertical-align: baseline; 
	border: none; 
}

td.linenos { 
	border-right: 1px solid #AAAAAA; 
	text-align: right; 
	color: #AAAAAA; 
	padding-right: 5px; 
	padding-left: 5px; 
}

.codeblock { font-size: 110%; }

td.codeblock { padding-left: 5px; }
pre.codeblock { }
pre.codeblock span.Normal { }

pre.codeblock span.DataType { color: #902000; }
pre.codeblock span.DecVal { color: #40a070; }
pre.codeblock span.BaseN { color: #40a070; }
pre.codeblock span.Float { color: #40a070; }
pre.codeblock span.Char { color: #4070a0; }
pre.codeblock span.String { color: #4070a0; }
pre.codeblock span.Comment { color: #60a0b0; font-style: italic; }
pre.codeblock span.Others { color: #007020; }
pre.codeblock span.Alert { color: red; font-weight: bold; }
pre.codeblock span.Function { color: #06287e; }
pre.codeblock span.RegionMarker { }
pre.codeblock span.Error { color: red; font-weight: bold; }
